/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* Header Styles */
header {
  background: var(--dark-bg);
  grid-column: 1 / span 12; /* Take full width on mobile */
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: var(--spacing);
}

/* Main Section Styles */
main {
  width: 100%;
  color: white;
  z-index: 99;
  position: absolute;
  margin: 0px auto;
  padding: 20px 0px; /* Adjusted padding for mobile */
  display: grid;
  grid-template-columns: 1fr;
}

/* Quote Styles */
blockquote {
  margin: 0;
  padding: 0;
  grid-column: 1 / span 12; /* Take full width on mobile */
  margin-bottom: var(--spacing);
}

/* Section Styles */
section {
  grid-column: 1 / span 12; /* Take full width on mobile */
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1rem; /* Adjusted font size for mobile */
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

/* Left Section Styles */
.left {
  grid-column: 1 / span 12; /* Take full width on mobile */
}

/* Contact Container Styles */
.contact-container {
  max-width: 100%; /* Take full width on mobile */
  margin: 0;
  padding: 20px;
}

/* Form Styles */
form {
  margin-top: 20px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #333;
  color: #fff;
}

/* Button Styles */
button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Responsive Media Query for Mobile */
@media screen and (max-width: 600px) {
  header {
    font-size: 1.5rem;
  }

  blockquote p {
    font-size: 2rem;
  }

  section {
    font-size: 0.875rem;
  }
}
